
<%-include("partials/header.ejs");-%>
    <h1>Home</h1>
    <p> <%= homeStartingContent %> </p>
    
    <%# koden under her er for å rendere det skriver i compose siden for å skirve på index.html %>

    <% posts.forEach(function(post){ %>
      <h1> <%= post.title %> </h1>
      <p><%= post.content %></p>
    <% }) %>

    

<%-include("partials/footer.ejs");-%>








